*, *::before {
  box-sizing: border-box;
}

html {
  --background-color: #291F1E;
  --lighter-bg: #343434;
  --heading-color: #799DB4;
  --text-color: #E9F0E2;
  --alert-color: #F64740;

  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Helvetica", sans-serif;
  font-size: 100%;

  width: 100%;
  padding: 0;
}

body {
  width: 100%;
  padding: 5px;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  color: var(--heading-color);
}

main {
  width: 100%;
  padding: 10px;

  display: grid;
  grid-template:  'title  wmap' auto
                  'clive  wmap' auto
                  'tpaths wmap' auto
                  'tpaths .   ' 1fr  /* Ensures that map container doesn't stretch */
                  'csess csess' auto
                  'foot   foot' auto
                / auto   auto;
  gap: 10px;

  border: 1px solid var(--lighter-bg);
  border-radius: 3px;
}

h1 {
  font-size: 2.5rem;
  grid-area: title;
  margin: 5px 0;
}

a {
  color: var(--heading-color);
  filter: brightness(150%);
}

table td {
  border: 1px solid var(--heading-color);
  background-color: var(--lighter-bg);
  padding: 5px;
}

#currently-live {
  grid-area: clive;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#top-paths {
  grid-area: tpaths;
}

#world-map {
  grid-area: wmap;
  position: relative;
}

#world-map img {
  display: block;
  width: 100%;
}

#world-map .spot {
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background-color: var(--alert-color);
  opacity: 1;

  position: absolute;
}

#current-sessions {
  grid-area: csess;
}

#currently-live-counter {
  font-size: 5rem;
  font-weight: 100;
  color: var(--heading-color);
  filter: brightness(125%);
}

#footer {
  grid-area: foot;
  font-size: 0.75rem;
  text-align: right;
}
